<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
		
</head>
<body>
	<!--login form popup-->
	<div th:fragment="login" class="login-wrapper" id="login-content">
		<div class="login-content">
			<a href="#" class="close">x</a>
			<h3>Đăng nhập</h3>
			<form method="post" action="#">
				<div class="row">
					<label for="username"> Tên đăng nhập: <input type="text"
						name="username" id="username" placeholder="Tên đăng nhập"
						pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{6,20}$" required="required" />
					</label>
				</div>

				<div class="row">
					<label for="password"> Mật khẩu: <input type="password"
						name="password" id="password" placeholder="******"			
						required="required" />
					</label>
				</div>
				<div class="row">
					<div class="remember">
						<div>
							<input type="checkbox" name="remember" value="Remember me"><span>Ghi
								nhớ đăng nhập</span>
						</div>
						<a th:href="@{/forget_password}">Quên mật khẩu ?</a>
					</div>
				</div>
				<div class="row">
					<button type="submit" th:href="@{/login}">Đăng nhập</button>
				</div>
			</form>
			<div class="row">
				<p style="text-align: center">Hoặc</p>
			</div>
			<div class="row">
				<div class="row" style="display: relative">
					<div class="social-btn-2">
						<a class="fb" href="#"><i class="gg-facebook"></i>
							Đăng nhập bằng Facebook
						</a>
					</div>
					<div class="social-btn-2">
						<a class="gg" href="#"><i class="gg-google"></i>
							Đăng nhập bằng Google
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!--end of login form popup-->

	<!--signup form popup-->
	<div th:fragment="signup" class="login-wrapper" id="signup-content">
		<div class="login-content">
			<a href="#" class="close">x</a>
			<h3>Đăng ký</h3>
			<form method="post" action="#">
				<div class="row">
					<label for="username-2"> Tên đăng nhập: <input type="text"
						name="username" id="username-2" placeholder="tên đăng nhập"
						pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{6,20}$" required="required" />
					</label>
				</div>

				<div class="row">
					<label for="email-2"> Email: <input type="password"
						name="email" id="email-2" placeholder="exsample@gmail.com"
						pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
						required="required" />
					</label>
				</div>
				<div class="row">
					<label for="password-2"> Mật khẩu: 
					<input type="password"
						name="password" id="password-2" placeholder=""
						pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
						required="required" />
					</label>
				</div>
				<div class="row">
					<label for="repassword-2"> Nhập lại mật khẩu: 
					<input
						type="password" name="password" id="repassword-2" placeholder=""
						pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
						required="required" />
					</label>
				</div>
				<div class="row">
					<button type="submit">Đăng ký</button>
				</div>
				
			</form>
		</div>
	</div>
	<!--end of signup form popup-->

	<!-- footer section-->
	<footer th:fragment="footer" class="ht-footer">
		<div class="container">
			<div class="flex-parent-ft">
				<div class="flex-child-ft item1">
					<a href="index-2.html"><img class="logo"
						th:src="@{/images/logo1.png}" alt=""></a>
					<p>
						475A Điện Biên Phủ, Phường 25, Quận Bình Thạnh<br> Thành Phố
						Hồ Chí Minh, Việt Nam, VN 717349
					</p>
					<p>
						Liên Hệ (hotline): <a href="#">(+84) 935 915 681</a>
					</p>
				</div>
				<div class="flex-child-ft item2">
					<h4>Rạp phim Giấc mơ</h4>
					<ul>
						<li><a href="#">Về chúng tôi</a></li>
						<li><a href="#">Liên hệ</a></li>
						<li><a href="#">Forums</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Trung tâm hỗ trợ</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item3">
					<h4>Điều khoản sử dụng</h4>
					<ul>
						<li><a href="#">Điều khoản giao dịch</a></li>
						<li><a href="#">Chính sách bảo mật</a></li>
						<li><a href="#">Chính sách hỗ trợ</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item4">
					<h4>Tài khoản</h4>
					<ul>
						<li><a href="#">Tài khoản của tôi</a></li>
						<li><a href="#">Xem sau</a></li>
						<li><a href="#">Bộ sưu tập</a></li>
						<li><a href="#">Hướng dẫn</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item5">
					<h4>Bản tin</h4>
					<p>
						Đăng ký nhận tin mới <br> mới nhất về các sự kiện khuyến mãi,
						phim sắp ra mắt
					</p>
					<form action="#">
						<input type="email" placeholder="Điền email của bạn ...">
					</form>
					<a href="#" class="btn">Đăng ký ngay <i
						class="ion-ios-arrow-forward ml-2"></i></a>
				</div>
			</div>
		</div>
		<div class="ft-copyright">
			<div class="ft-left">
				<p>
					<a target="_blank" href="https://www.templateshub.net">Templates
						Hub</a>
				</p>
			</div>
			<div class="backtotop">
				<p>
					<a href="#" id="back-to-top">Back to top <i
						class="ion-ios-arrow-thin-up"></i></a>
				</p>
			</div>
		</div>
	</footer>
	<!-- end of footer section-->


</body>
</html>