<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
<header th:fragment="header" class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#nav-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="/"><img class="logo" th:src="@{/images/logo1.png}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="nav-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li >
							<a class="btn btn-default dropdown-toggle lv1" href="/">
							Trang chủ
							</a>
							
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1 mr-1" data-toggle="dropdown" data-hover="dropdown" >
							Phim  <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a th:href="@{/all}">Tất cả phim</a></li>
								<li><a th:href="@{/now_showings}">Phim Đang Chiếu</a></li>
								<li><a th:href="@{/incomings}">Phim Sắp Chiếu</a></li>

							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1 mr-1" data-toggle="dropdown" data-hover="dropdown">
							Rạp <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a th:href="@{/all_cinema}">Tất cả các rạp</a></li>
								<li><a th:href="@{/special_cinema}">Rạp Đặc biệt</a></li>
								<li><a th:href="@{/coming_cinema}">Rạp sắp mở</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Tin Tức <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a th:href="@{/news}">Tin mới</a></li>
								<li><a th:href="@{/promotion}">Khuyến mãi</a></li>
								<li class="it-last"><a th:href="@{/blog}">Blog</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a th:href="@{/forums}" class="btn btn-default dropdown-toggle lv1">
								Forums 
							</a>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="btn loginLink"><a href="#">Đăng nhập</a></li>
						<li class="btn signupLink"><a href="#">Đăng ký</a></li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
	    <div class="top-search">
	    	<select>
				<option value="united">Phim</option>
				<option value="united">Đạo diễn</option>
				<option value="united">Diễn viên</option>
				<option value="saab">Khác</option>
			</select>
			<input type="text" placeholder="Tìm kiếm phim, đạo diễn, diễn viên ...">
	    </div>
	</div>
</header>
<!-- END | Header -->


</body>
</html>