<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<link rel="stylesheet" type="text/css" th:href="@{/css/plugins.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/booking.css}" />
<link rel="stylesheet"
	href='https://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
<title>[[${detailMovie.title}]] - Đặt vé ngay</title>
</head>
<body>
	<header th:replace="fragments/header-client.html :: header"></header>

	<div th:replace="fragments/common.html :: login"></div>
	<div th:replace="fragments/common.html :: signup"></div>
	<div class="hero mv-single-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12"></div>
			</div>
		</div>
	</div>
	<div class="page-single movie-single movie_single" style="margin-top:-520px;">
		<div class="container">
			<div class="row ipad-width2">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" >
					<div class="movie-img sticky-sb">
						<!-- hình gốc mô tả phim-->
						<img th:src="@{'/images/uploads/' + ${detailMovie.image}}" alt="">

					</div>
				</div>

				
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
					<!-- Teen phim -->
					<div class="movie-single-ct main-content">
						<h1 class="bd-hd" style="padding: 15px 0;">
							[[${detailMovie.title}]] <span>[[${detailMovie.getYearStart()}]]</span>
							<a class="btn-order" id="order">Đặt vé</a>
							
						</h1>
						
					</div>
					<div style="height: 5px; background-color: gray;"></div>
					<h1 class="title" 
						style="color: white; margin-top: 15px;">
						Chọn ngày chiếu
					</h1>
					<!-- Section Đặt vé background-color: orange; -->
					<!-- Ngay thang chieu phim -->
					<div>
						<ul style="list-style: none; display: flex; flex-wrap: wrap;" >
							<li>
								<div class="calendar">
									<div class="month">
										<span>04</span>
									</div>
									<div class="date">
										<span>17</span>
									</div>
								</div>
							</li>
							<li>
								<div class="calendar">
									<div class="month">
										<span>04</span>
									</div>
									<div class="date">
										<span>18</span>
									</div>
								</div>
							</li>
							<li>
								<div class="calendar">
									<div class="month">
										<span>04</span>
									</div>
									<div class="date">
										<span>19</span>
									</div>
								</div>
							</li>
							<li>
								<div class="calendar">
									<div class="month">
										<span>04</span>
									</div>
									<div class="date">
										<span>20</span>
									</div>
								</div>
							</li>
							<li>
								<div class="calendar">
									<div class="month">
										<span>04</span>
									</div>
									<div class="date">
										<span>21</span>
									</div>
								</div>
							</li>
							<li>
								<div class="calendar">
									<div class="month">
										<span>04</span>
									</div>
									<div class="date">
										<span>22</span>
									</div>
								</div>
							</li>
							<li>
								<div class="calendar">
									<div class="month">
										<span>04</span>
									</div>
									<div class="date">
										<span>23</span>
									</div>
								</div>
							</li>
							<li>
								<div class="calendar">
									<div class="month">
										<span>04</span>
									</div>
									<div class="date">
										<span>24</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
    				
    				<!-- chon dia diem -->
    				<div style="height: 5px; background-color: gray;"></div>
    				<h1 class="title" 
    					style="color: white; margin-top: 15px;">
    					Chọn địa điểm gần bạn
    				</h1>
    				<div>
						<ul style="list-style: none; display: flex; flex-wrap: wrap;" >
							<th:block th:each="city : ${cities}">
								<li>
									<div class="place">
										<span
											class="current-city-id" 
											style="display: none"
											th:text="${city.Id}"
											></span>
										<span>[[${city.name}]]</span>
									</div>
								</li>
							</th:block>
							
						</ul>
					</div>
					
					<div style="height: 5px; background-color: gray;"></div>
					<!--  Loai Ve -->
					<h1 class="title" 
    					style="color: white; margin-top: 15px;">
    					Chọn loại vé
    				</h1>
    				<div>
						<ul style="list-style: none; display: flex; flex-wrap: wrap;" >
							<li>
								<div class="type">
									<span>2D Phụ đề Việt</span>
								</div>
							</li>
							<li>
								<div class="type">
									<span>2D Phụ đề Hàn & Việt</span>
								</div>
							</li>
							<li>
								<div class="type">
									<span>IMAX2D phụ đề Việt</span>
								</div>
							</li>
							<li>
								<div class="type">
									<span>4Dx2D Phụ đề Việt</span>
								</div>
							</li>
							<li>
								<div class="type">
									<span>SCREENX-2D phụ đề Việt</span>
								</div>
							</li>
						</ul>
					</div>
					<div style="height: 5px; background-color: gray;"></div>
					<!--  Ajax load danh sach rap theo city -->
					<h1 class="title" 
    					style="color: white; margin-top: 15px;">
    					Danh sách rạp
    				</h1>
    				<div class="cinemas">
    					<!-- Load cac phim va gio chieu trong ngay tai rap da chon -->
    					<th:block th:each="cinema : ${cinema}">
    						<h3 class="bd-hd" 
    						style="color: white;">
    							[[${cinema.name}]]
    						</h3>
    					</th:block>
    					
    					<h4 class="bd-hd" 
    						style="color: white;">
    						Rạp 2D
    					</h4>
    					
    					<div>
						<ul style="list-style: none; display: flex; flex-wrap: wrap;" >
							<li>
								<div class="time">
									<span>10:00 AM</span>
								</div>
							</li>
							<li>
								<div class="time">
									<span>10:00 AM</span>
								</div>
							</li>
							<li>
								<div class="time">
									<span>10:00 AM</span>
								</div>
							</li>
							<li>
								<div class="time">
									<span>10:00 AM</span>
								</div>
							</li>
							<li>
								<div class="time">
									<span>10:00 AM</span>
								</div>
							</li>
						</ul>
						</div>
						<h4 class="bd-hd" 
    						style="color: white;">
    						Rạp GOLD CLASS
    					</h4>
						<div>
							<ul style="list-style: none; display: flex; flex-wrap: wrap;" >
								<li>
									<div class="time">
										<span>10:00 AM</span>
									</div>
								</li>
								<li>
									<div class="time">
										<span>10:00 AM</span>
									</div>
								</li>
								<li>
									<div class="time">
										<span>10:00 AM</span>
									</div>
								</li>
								<li>
									<div class="time">
										<span>10:00 AM</span>
									</div>
								</li>
								<li>
									<div class="time">
										<span>10:00 AM</span>
									</div>
								</li>
							</ul>
						</div>
						
						
    				</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer section-->
	<div th:replace="fragments/common.html :: footer"></div>

	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins2.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		var city_id, day, type_id, time_id; 
		$("div.place").on("click", function(e) {
			$("div.place.current-city").removeClass("current-city");
	  		$(e.target).parent().addClass("current-city");
	  		city_id = $("div.place.current-city > span.current-city-id").text();
		});
			
		$("div.date").on("click", function(e) {
			$("div.calendar.current-date").removeClass("current-date");
			$(e.target).parent().addClass("current-date");
			day = 21;
				//$("div.calendar.current-date > date").text();
		});
		
		$("div.type").on("click", function(e) {
			$("div.type.current-type").removeClass("current-type");
	  		$(e.target).parent().addClass("current-type");
	  		type = 1; 
	  			//$("div.type.current-type > span").text();
		});
		$("div.time").on("click", function(e) {
			$("div.time.current-time").removeClass("current-time");
	  		$(e.target).parent().addClass("current-time");
	  		time = 1; 
	  			//$("div.time.current-time > span").text();
		});
		var movie_id = [[${detailMovie.Id}]];
		$("a.btn-order#order").on("click", function () {
			var url = "/ticket/" + movie_id + "/"+ city_id +"/"
								+ day+ "/"+ type + "/" + time ;
			$(this).attr("href",url);
			$(this).click();
			
		});
	</script>
</body>
</html>